@import "./../respons.scss";

  /*  */
    .item__card{
/*         width: 112%;
 */        background-color: #f7f7f7;
        
/*         height: 240px;
 */       /*  filter: drop-shadow(0 20px 13px rgba(0,0,0,0.3)) drop-shadow(0 8px 5px rgba(0,0,0,0.08)); */
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
        background: rgba(255, 255, 255, 0.9);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: .6rem;
        grid-row-gap:35px;
        column-gap: 10px;
/*         @include respons(large){
            width: 112%;
        }
        
        @include respons(phone){
            width: 100%;
        } */
        &-title{
        
            align-self: end;
            justify-self: center;
/*             background-color: #101d2c;
 */          color: #252525;
            font-weight: 700;
            font-size: 1rem;

            padding: .3rem;
            transform: translateY(10%);
            &::before{
                content: "";
                height: 2px;
                display: block;
                background-color: #101d2c;
                width: 100%;
                position: absolute;
                bottom: 1px;
                right: 1px;
            }


        }
        &-bg{
            grid-column: 2/3;
            grid-row: 1/2;
            background-color: #ED1C24;
            border-radius: 100%;
            width: 29px;
            height: 30px;
            margin-right:1px;
            justify-self: end;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease-in;
            &:hover{
                cursor: pointer;
                scale: .75;
            }
            &-icon{
                display: block;
                height: 3rem;
                width: 2.5rem;
                fill: #f7f7f7;              
                justify-self: end;
             
            }
        }
        &-img{
            width: 100%;
            grid-column: 1/2;
            height: 55%;
            border-radius: 20%;
            grid-row: 1/3;
            z-index: 10;
            justify-self: center;
            align-self: center;
            transition: all .3s ease-in;
            &:hover{
                scale: 1.05;
            }

        }

    
        &-info{
            grid-column: 2/3;
           
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: end;
            row-gap: 10px; 

        }

        
        &-cal{
            font-size: 1.5rem;
            align-items: end;
        
            
        }
        &-price{
            font-size: 1.5rem;
         
            
        }


    }
    

